.tournament-info {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  max-width: 900px;
  gap: 0;
}

.tournament-info__card {
  padding: 3rem;
  display: flex;
  flex-direction: column;
  background: #fff;
  border-right: 1px solid #eee;
}

.tournament-info__card:last-child {
  border-right: none;
}

.tournament-info__card--featured {
  background: #1e3264;
  color: #fff;
}

.tournament-info__title {
  font-size: 1.3rem;
  font-weight: 800;
  margin: 0 0 1rem 0;
}

.tournament-info__content {
  font-size: 0.95rem;
  opacity: 0.7;
  margin: 0;
  line-height: 1.7;
}

.tournament-info__card--featured .tournament-info__content {
  opacity: 0.9;
}

@media (max-width: 900px) {
  .tournament-info {
    grid-template-columns: 1fr;
  }

  .tournament-info__card {
    padding: 2.5rem 2rem;
    border-right: none;
    border-bottom: 1px solid #eee;
  }
}
